@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #101111;
  --text-highlights: #FFFFFF;
  --text-overshadowed: #AAAAAA;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
}

